<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit location</h1>
    <form method="POST" action="{{ url_for('edit_location', location_id=location.location_id) }}">
        <label for="new_location_id">New Product ID:</label>
        <input type="text" id="new_location_id" name="new_location_id" value="{{ location.location_id }}" required>
        <button type="submit">Update location</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
    <br>
    <a href="{{ url_for('manage_locations') }}">Back to locations</a>
    
</body>
</html>
